/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* BASE STYLES */
body {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  min-height: 500vh;
}

/* NORMAL STYLES */
.header {
  position: relative;
  width: 100%;
  z-index: 9;
}

.navbar {
  position: fixed;
  width: 100%;
  display: block;
  padding: 0;
}

.top-bar {
  background-color: rgb(39, 44, 51);
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
}

.icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}

.bottom-bar {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #cacaca;

}

.bottom-bar__content {
  /* min-height: 60px;
  max-width: 1200px; */
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo__img {
  height: 70px;
  width: auto;
}

.bottom-logo {
  height: 40px;
  width: auto;
  margin: 10px 10px 15px 25px;
}

.logo__text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {}

.nav__link {
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(255, 255, 255, 1);
}

.btn {
  color: #fff;
  background-color: #0071e3;
  padding: 8px 20px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(28, 128, 228);
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #000000;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  right: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

#nav li {
  margin-bottom: 2px;
}

#nav a {
  background: #ffffff;
  color: #888888;
  display: block;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav a:hover {
  background: #ffffff;
  color: #000000;
}

#nav .current a {
  background: #ffffff;
  color: #000000;
}

#container {
  margin: 0 auto;
  width: 800px;
}

.section {
  margin: 0px 20px;
}

.blue-section {
  background-color: #12192b;
  padding: 0px 0px;
}

.section-title {
  text-align: center;
  padding: 30px 0px 0px 0px;
  font-size: 2rem;
  font-weight: 600;
}

.inner-section-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 25px 0px 5px 0px;
  margin: 0;
}

.section p:last-child {
  margin-bottom: 0;
}


.mobile-banner {
  display: none;
}

.section-divider {
  border-bottom: 5px solid #12192b;
  padding: 50px 0px 0px 0px;
}

.carousel-indicators button {
  background-color: black;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.carousel-indicators {
  bottom: -7px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 7%;
} 

.milestones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #12192b;
  color: #ffffff;
}

.milestones-inner {
  width: 33%;
  text-align: center;
}

.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#promoter-sec {
  background-color: #12192b;
  background-image: url("Frame 17.png");
  background-origin: content-box;
  background-size: 100% auto;
  padding: 40px 0px 20px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.promoter-flex-inner {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.promoter-img {
  height: 150px;
  width: auto;
  margin: 10px 10px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.section-flex-image {
  width: 40%;
  padding: 20px;
}

.section-flex-text {
  width: 60%;
  padding: 20px;
}

.section-flex-text p {
  font-size: 1.4rem;
}

.about-us-img {
  width: 100%;
  height: auto;
}

.ongoing-div{
  padding: 0px 120px 20px 120px;
}
.up-inner-div {
  width: 50%;
}



.up-img-div {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0px 40px;
}

.up-inner-div h4 {
  padding: 0px 55px;
}

.events-div {
  padding: 15px 55px;
}

.events-div p {
  padding: 0px 55px;
}

.up-text-div {
  position: relative;
  top: -50px;
  margin: 10px 80px;
  z-index: 0;
  padding: 50px 35px 15px 35px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  line-height: 1.8;
}

.up-text-div p {
  font-size: 1.4rem;
}

.up-text-div h3 {
  font-size: 2rem;
}

.white-text {
  color: #ffffff;
}


/* Form */

.contact-form.style-four input[type="text"], .contact-form.style-four input[type="tel"], .contact-form.style-four input[type="email"], .contact-form.style-four input[type="password"], .contact-form.style-four select, .contact-form.style-four textarea {
  margin: 0px 15px 0px 15px;
  background-color: #12192b;
  border:none;
  box-shadow: none;
  padding: 0;
  padding-left: 16px;
  border-bottom: 2px solid #ffffff;
  height: inherit;
  line-height: 45px;
  border-radius: 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form select,
.contact-form textarea{
  color: #ffffff;
  border: 1px solid #ececec;
}

.contact-form ::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}



.theme-btn{
  color: #ffffff;
    display: inline-block;
    margin: 25px 15px 0px 15px;
    padding: 6px 10px;
    border: white 2px solid;
    border-radius: 11px;
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: 3px 3px 0px #aaaaaa;
}

#contact-sec{
  /* background-image: url("promoter-background.png");
  background-origin: content-box;
   background-size: 100% auto;
  padding: 0px 0px 50px 0px;
  background-repeat: no-repeat;
  background-position: bottom; */
}
